# History files
.Rhistory
.Rapp.history

# Session Data files
.RData

# User-specific files
.Ruserdata
Rplots.pdf

# Example code in package build process
*-Ex.R

# Output files from R CMD build
/*.tar.gz
src/*.o
src/*.so

# Output files from R CMD check
/*.Rcheck/

# Local IDE state
.Rproj.user/
.idea/
.vscode/

# Compiled code and coverage output
/src/**/*.o
/src/**/*.so
/src/**/*.dll
/src/**/*.dylib
/src/**/*.gcda
/src/**/*.gcno
/covr/

# Binary package builds
/SIMplyBee_*.tgz
/SIMplyBee_*.zip

# Installed documentation and rendered development documents
/inst/doc/
/README.html
/README_files/
/cran-comments.html
/cran-comments_files/

# produced vignettes
vignettes/*.html
vignettes/*.pdf
vignettes/*_files/

# OAuth2 token, see https://github.com/hadley/httr/releases/tag/v0.3
.httr-oauth

# knitr and R markdown default cache directories
*_cache/
/cache/
.quarto/

# Temporary files created by R markdown
*.utf8.md
*.knit.md

# R Environment Variables
.Renviron

# Other
.DS_Store
/doc/
/Meta/

literature/*.pdf
